<app-navbaruser></app-navbaruser>

<body>
  <div style="margin-top: 20px;">
    <h1 style="margin-left: 20px;">About MealsDrop</h1>
  </div>
  <div style="display: flex; align-items: center; margin-bottom: 30px;">
    <div style="flex: 1; margin-left: 20px;">
      <p>Welcome to MealsDrop, your ultimate online food ordering application! We are dedicated to providing you with a seamless and convenient way to order delicious meals from a variety of restaurants and cuisines.</p>
      <p>At MealsDrop, we understand that life can be busy, and sometimes you don't have the time or energy to cook. That's where we come in. With just a few clicks, you can explore a wide range of menu options and have your favorite dishes delivered right to your doorstep.</p>
      <p>Our platform connects you with a curated selection of local restaurants, ensuring that you have access to the best dining experiences in your area. Whether you're craving pizza, sushi, burgers, or vegetarian delights, MealsDrop has got you covered.</p>
      <p>We strive to provide a user-friendly and intuitive interface, making it easy for you to browse menus, customize your orders, and track the progress of your deliveries. Our efficient delivery partners work tirelessly to ensure that your meals arrive fresh and on time.</p>
      <p>At MealsDrop, we value your satisfaction above all else. We take pride in offering exceptional customer service and support. If you have any questions, concerns, or feedback, our dedicated team is always here to assist you.</p>
      <p>Thank you for choosing MealsDrop for all your food ordering needs. We look forward to serving you and making your dining experiences delightful, convenient, and memorable.</p>
    </div>
    <div style="flex: 1; text-align: center;">
      <img src="../../assets/about image.jpg" alt="MealsDrop Logo" width="300">
    </div>
  </div>
</body>