.banner {
    height: 300px;
    background-image: url('https://png.pngtree.com/back_origin_pic/05/05/68/52e6ab3fde77ad0a01b5d03c03e982f8.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  .banner h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .banner p {
    font-size: 18px;
  }