.banner
{
   /* background-image: url('https://ustglobal.sharepoint.com/teams/Onlinefoodorderingapp/Shared%20Documents/Discussions/brooke-lark-M4E7X3z80PQ-unsplash.jpg'); */
    height: 600px;
    background-position: center ;
    background-size: cover;
    animation: fade 10s infinite;
}@keyframes fade {
  0%, 20% {
    background-image: url('https://ustglobal.sharepoint.com/teams/Onlinefoodorderingapp/Shared%20Documents/Discussions/brooke-lark-M4E7X3z80PQ-unsplash.jpg');
    background-size: 100%;
  }
  
  0%, 20% {
    background-image: url('https://wallpapercave.com/dwp2x/wp11979490.jpg');
    background-size: 100%;
  }
  55%, 100% {
    background-image: url('https://blog.hdwallsource.com/wp-content/uploads/2015/01/fantastic-chicken-food-wallpaper-43051-44078-hd-wallpapers-1024x640.jpg');
    background-size:100%;
  }
  
 

}


.mainContainer{

  height: 28rem;

  background-color: rgb(33, 37, 37);

  animation: fade 10s infinite;

  background-repeat: no-repeat;

}
.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #000000;
  /* border: 2px solid #1366a6; */
}

.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox 
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color:var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    
}

@media screen and (max-width:600px)
{
    .banner
{
    height: 700px;
}
}

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: rgb(6, 90, 133);
        border: 1px #1366a6 solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: rgb(53, 142, 186) ;
        border-color: #042d5985;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }

  .solid-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .solid-button:hover {
    background-color: #45a049;
  }
  
  .solid-button:active {
    background-color: #3e8e41;
  }
  